#!/usr/bin/env bash
set -euo pipefail

echo "🚀 Starting initial environment setup..."

{{ if eq .chezmoi.os "darwin" }}

if ! command -v /opt/homebrew/bin/brew > /dev/null 2>&1; then
    echo "📦 Installing Homebrew..."
    NONINTERACTIVE=1 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
else
    echo "✅ Homebrew already installed."
fi

{{ else if eq .chezmoi.os "linux" }}

if ! command -v mise > /dev/null 2>&1; then
    echo "📦 Installing Mise..."
    curl https://mise.run | sh
else
    echo "✅ Mise already installed."
fi


if ! command -v git > /dev/null 2>&1; then
    echo "📦 Installing essential packages..."
    {{ if (or (eq .chezmoi.osRelease.id "debian") (eq .chezmoi.osRelease.id "ubuntu")) }}
    sudo apt -y install git fish
    {{ else if eq .chezmoi.osRelease.id "fedora" }}
    sudo dnf -y install git fish
    {{ else if eq .chezmoi.osRelease.idLike "arch" }}
    sudo pacman -S --noconfirm git fish
    {{ end }}
else
    echo "✅ Essential packages already installed."
fi

if [ "$SHELL" != "$(command -v fish)" ]; then
    echo "🔄 Setting Fish as the default shell..."
    if ! grep -q "$(command -v fish)" /etc/shells; then
        command -v fish | sudo tee -a /etc/shells
    fi
    sudo chsh -s "$(command -v fish)" "$USER"
    echo "✅ Default shell changed to Fish."
else
    echo "✅ Fish is already the default shell."
fi

{{ end }}

echo "✅ Initial setup complete!"
