#!/usr/bin/env bash
set -euo pipefail

source "$HOME/.bashrc"

if [[ -f "$HOME/.config/homebrew/Brewfile" ]]; then
    echo "📦 Running Homebrew Bundle..."
    brew bundle --global
else
    echo "⚠️  No Brewfile found. Skipping bundle."
fi

echo "✅ Successfully installed Homebrew packages!"
