#!/usr/bin/env bash
set -euo pipefail

{{ if eq .chezmoi.os "darwin" }}
    echo "🍎 macOS detected."
    echo "   No dependencies required."

{{ else if eq .chezmoi.os "linux" }}
    echo "🐧 Linux detected."

    {{ if eq .chezmoi.osRelease.id "fedora" }}
        echo "📦 Installing Fedora dependencies..."
        sudo dnf update -y && sudo dnf install -y curl git @development-tools

    {{ else if eq .chezmoi.osRelease.idLike "debian" }}
        echo "📦 Installing Debian/Ubuntu dependencies..."
        sudo apt update -y && sudo apt install -y curl git build-essential

    {{ else if eq .chezmoi.osRelease.idLike "arch" }}
        echo "📦 Installing Arch dependencies..."
        sudo pacman -Syu --noconfirm --needed curl git base-devel

    {{ else }}
        echo "⚠️ Warning: Unknown Linux distribution. Skipping system deps."
    {{ end }}

{{ end }}

echo "✅ Successfully installed system dependencies!"
