#!/usr/bin/env bash
set -euo pipefail

echo "🚀 Starting package sync..."

{{ if eq .chezmoi.os "darwin" }}

# {{ include "dot_Brewfile" | sha256sum }}
if command -v /opt/homebrew/bin/brew > /dev/null 2>&1; then
    echo "🔄 Syncing Homebrew packages..."
    eval "$(/opt/homebrew/bin/brew shellenv bash)"
    brew bundle --global
    echo "✅ Homebrew packages synced."
else
    echo "❌ Homebrew command not found..."
    exit 1
fi

{{ else if eq .chezmoi.os "linux" }}

# {{ include "private_dot_config/mise/mise.lock" | sha256sum }}
if command -v {{ .chezmoi.homeDir}}/.local/bin/mise > /dev/null 2>&1; then
    echo "🔄 Syncing Mise packages..."
    eval "$(~/.local/bin/mise activate bash)"
    mise install
    echo "✅ Mise packages synced."
else
    echo "❌ Mise command not found..."
    exit 1
fi

{{ end }}

echo "✅ Package sync complete!"
