#!/usr/bin/env bash
set -euo pipefail

echo "🚀 Starting initial environment setup..."

{{ if eq .chezmoi.os "darwin" }}

if ! command -v /opt/homebrew/bin/brew > /dev/null 2>&1; then
    echo "🍺 Installing Homebrew..."
    NONINTERACTIVE=1 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
else
    echo "✅ Homebrew already installed."
fi

echo "✅ Initial setup complete!"

{{ else if eq .chezmoi.os "linux" }}

if ! command -v mise > /dev/null 2>&1; then
    echo "🍺 Installing Mise..."
    curl https://mise.run | sh
else
    echo "✅ Mise already installed."
fi

{{ end }}
