#!/usr/bin/env bash
set -euo pipefail

source "{{ .chezmoi.homeDir }}/.bashrc"

cd {{ .chezmoi.sourceDir }}

fnox exec -- sh -c 'atuin login \
  --username "$ATUIN_USERNAME" \
  --password "$ATUIN_PASSWORD" \
  --key "$ATUIN_KEY"'

cd {{ .chezmoi.homeDir }}

echo "✅ Successfully signed into atuin!"
