{{- $github_user := output "curl" "-s" "https://api.github.com/users/lauritskarl" | fromJson -}}
{{- $ssh_keys := gitHubKeys "lauritskarl" -}}

{{- $email := "" -}}
{{- if $github_user.email -}}
    {{- $email = $github_user.email -}}
{{- else -}}
    {{- $email = promptStringOnce . "email" "Email address" -}}
{{- end -}}

{{- $name := "" -}}
{{- if $github_user.name -}}
    {{- $name = $github_user.name -}}
{{- else -}}
    {{- $name = promptStringOnce . "name" "Your name" -}}
{{- end -}}

{{- $ssh_key := "" -}}
{{- if (gt (len $ssh_keys) 0) -}}
    {{- $ssh_key = (index $ssh_keys 0).Key -}}
{{- else -}}
    {{- $ssh_key = promptStringOnce . "ssh_key" "SSH signing key" -}}
{{- end -}}

{{- $git_user := "" -}}
{{- if $github_user.login -}}
    {{- $git_user = $github_user.login -}}
{{- else -}}
    {{- $git_user = promptStringOnce . "git_user" "GitHub username" -}}
{{- end -}}

{{- $onepasswordAgent := "" -}}
{{- $onepasswordProgram := "" -}}
{{- if eq .chezmoi.os "darwin" -}}
    {{- $onepasswordAgent = (joinPath .chezmoi.homeDir "Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock") -}}
    {{- $onepasswordProgram = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign" -}}
{{- else if eq .chezmoi.os "linux" -}}
    {{- $onepasswordAgent = (joinPath .chezmoi.homeDir ".1password/agent.sock") -}}
    {{- $onepasswordProgram = "/opt/1Password/op-ssh-sign" -}}
{{- else if eq .chezmoi.os "windows" -}}
    {{- $onepasswordAgent = "\\\\.\\pipe\\openssh-ssh-agent" -}}
    {{- $onepasswordProgram = (joinPath "C:/Users" .chezmoi.username "AppData/Local/1Password/app/8/op-ssh-sign.exe") -}}
{{- end -}}

[data]
    email = {{ $email | quote }}
    name = {{ $name | quote }}
    ssh_key = {{ $ssh_key | quote }}
    git_user = {{ $git_user | quote }}
    onepasswordAgent = {{ $onepasswordAgent | quote }}
    onepasswordProgram = {{ $onepasswordProgram | quote }}

[git]
    autoCommit = true
    autoPush = true

[onepassword]
    prompt = true

[edit]
    command = "hx"
