encryption = "age"

[age]
    identity = "{{ .chezmoi.homeDir }}/key.txt"
    recipient = "age1p8wf9jpysgyxrxylmexy6wfx3cs0ydukzh7hwd34c5df0jy8wg9s33hexs"
    
[git]
    autoAdd = true
    autoCommit = true
    autoPush = true
