brew "openssl@3"
brew "ansible-language-server"
brew "bandwhich"
brew "bash"
brew "bash-language-server"
brew "cargo-cache"
brew "cargo-update"
brew "csvlens"
brew "curl"
brew "delve"
brew "docker-language-server"
brew "exiftool"
brew "ffmpeg"
brew "fish"
brew "fish-lsp"
brew "git"
brew "gmp"
brew "gnupg"
brew "gopls"
brew "imagemagick"
brew "jdtls"
brew "lima"
brew "qemu"
brew "lima-additional-guestagents"
brew "llvm"
brew "markdown-oxide"
{{ if eq .chezmoi.os "darwin" -}}
brew "mas"
{{- end }}
brew "usage"
brew "mise"
brew "openssh"
brew "php"
brew "poppler"
brew "procs"
brew "rainfrog"
brew "ruby"
brew "ruby-lsp"
brew "sevenzip"
brew "solargraph"
brew "tailscale", restart_service: :changed
brew "topgrade"
brew "trippy"
brew "vscode-langservers-extracted"
brew "w3m"
brew "wget"
brew "wireguard-tools"
brew "witr"
brew "yaml-language-server"
brew "ykman"
brew "zsh"
cask "1password"
cask "affinity"
cask "discord"
cask "font-monaspace"
cask "ghostty"
cask "helium-browser"
cask "rustdesk"
cask "signal"
cask "winbox"
cask "yubico-authenticator"
cask "zed"
mas "DigiDoc4", id: 1370791134
mas "Infuse", id: 1136220934
mas "Microsoft Excel", id: 462058435
mas "Microsoft PowerPoint", id: 462062816
mas "Microsoft Word", id: 462054704
mas "Reeder", id: 6475002485
mas "Web eID", id: 1576665083
mas "WhatsApp", id: 310633997
go "github.com/bootdotdev/bootdev"
go "cmd/go"
go "cmd/gofmt"
cargo "caligula"
cargo "commit-lsp"
cargo "systemd-lsp"
