if status is-interactive
    set -gx fish_greeting
    set -gx fish_key_bindings fish_vi_key_bindings

    set -gx XDG_CONFIG_HOME {{ .chezmoi.homeDir }}/.config
    set -gx XDG_CACHE_HOME {{ .chezmoi.homeDir }}/.cache
    set -gx XDG_DATA_HOME {{ .chezmoi.homeDir }}/.local/share
    set -gx XDG_STATE_HOME {{ .chezmoi.homeDir }}/.local/state

    eval ({{ .brewPath }} shellenv)

    if set -q HOMEBREW_PREFIX
        if test -d "$HOMEBREW_PREFIX/opt/ruby"
            fish_add_path "$HOMEBREW_PREFIX/opt/ruby/bin"
            set -gxp LDFLAGS "-L$HOMEBREW_PREFIX/opt/ruby/lib"
            set -gxp CPPFLAGS "-I$HOMEBREW_PREFIX/opt/ruby/include"
            set -gxp PKG_CONFIG_PATH "$HOMEBREW_PREFIX/opt/ruby/lib/pkgconfig"
        end

        if test -d "$HOMEBREW_PREFIX/opt/llvm"
            fish_add_path "$HOMEBREW_PREFIX/opt/llvm/bin"
            set -gxp LDFLAGS "-L$HOMEBREW_PREFIX/opt/llvm/lib"
            set -gxp CPPFLAGS "-I$HOMEBREW_PREFIX/opt/llvm/include"
        end
    end

    fish_add_path {{ .chezmoi.homeDir }}/.cargo/bin
    fish_add_path {{ .chezmoi.homeDir }}/go/bin

    set -gx SHELL fish
    set -gx PAGER bat
    set -gx EDITOR hx
    # set -gx VISUAL "zed --wait"

    type -q mise; and mise activate fish | source
    type -q zoxide; and zoxide init fish --cmd cd | source
    type -q starship; and starship init fish | source
    type -q atuin; and atuin init fish | source
    type -q fnox; and fnox activate fish | source
end
